:root {
    --font: "Source Sans 3", sans-serif;
    --color-white: #fff;
    --color-grey: #9fa0a5;
    --color-grey-light: #17181c;
    --color-black: #000;
    --color-blue-petrol: #1d4851;
    --primary: #a3a3a3;
    --primary-light: var(--color-grey-light);
    --secondary: var(--color-orange);
    --background: #111111;
    --inline-bg: #1a1a1a;
    --color-orange: #ff6600;
}
