.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    padding: 23px 28px;
    background-color: var(--background);
    box-shadow: 0px 1px 0px rgba(210, 230, 255, 0.05);
    z-index: 100;
}

.header__title {
    display: flex;
    align-items: center;
    height: 25px;

    & > span {
        display: block;
        height: 19px;
    }
}

.header__nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .header__link {
    color: var(--color-white);
} */

.header__linkActive {
    color: var(--secondary);
}
