.post {
    padding: 15px 0;
    box-shadow: 0px 1px 0px rgba(210, 230, 255, 0.05);
}

.post__info {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);

    & > a {
        color: var(--secondary);
    }
}

.post__text {
    padding-top: 15px;
    font-size: 16px;
}

.post__new {
    color: var(--primary);
    font-weight: 600;
}
